<% include partials/_header %>
<section class="section">
  <!--h1 class="title">
LOREM
</!--h1>
<p-- class="subtitle">
LOREM <strong>LOREM</strong>!
</p-->
</section>

<div class="is-form">

  <form action="../pdfMake/pdf" method="post">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column">
          <div class="field">
            <label class="label">Cedula</label>
            <div class="control">
              <input class="input" name="nit" value="<%= device.nit %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" name="name" value="<%= device.name %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Tipo</label>
            <div class="control">
              <div class="select">
                <select name="tipoDevice">
                  <option><%= device.tipoDevice %></option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Nombre del Equipo</label>
            <div class="control">
              <input class="input" name="nameDevice" value="<%= device.nameDevice %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Codigo</label>
            <div class="control">
              <input class="input" name="code" value="<%= device.code %>" type="text">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Serial del Equipo</label>
            <div class="control">
              <input class="input" name="serialDevice" value="<%= device.serialDevice %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Marca</label>
            <div class="control">
              <input class="input" name="brand" value="<%= device.brand %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Modelo</label>
            <div class="control">
              <input class="input" name="model" value="<%= device.model %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Procesador</label>
            <div class="control">
              <input class="input" name="processor" value="<%= device.processor %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Memoria Ram</label>
            <div class="control">
              <input class="input" name="ram" value="<%= device.ram %>" type="text">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Disco Duro</label>
            <div class="control">
              <input class="input" name="hdd" value="<%= device.hdd %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Sistema Operativo</label>
            <div class="control">
              <input class="input" name="os" value="<%= device.os %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Monitor</label>
            <div class="control">
              <input class="input" name="monitor" value="<%= device.monitor %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Serial Bateria</label>
            <div class="control">
              <input class="input" name="serialBattery" value="<%= device.serialBattery %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Serial del Cargador</label>
            <div class="control">
              <input class="input" name="serialCargador" value="<%= device.serialCargador %>" type="text">
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Accesorios</label>
            <div class="control">
              <input class="input" name="accessories" value="<%= device.accessories %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Serial Mouse</label>
            <div class="control">
              <input class="input" name="serialMouse" value="<%= device.serialMouse %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Serial Teclado</label>
            <div class="control">
              <input class="input" name="serialKeyboard" value="<%= device.serialKeyboard %>" type="text">
            </div>
          </div>          
          <div class="field">
            <label class="label">Observacion</label>
            <div class="control">
              <input class="input" name="details" value="<%= device.details %>" type="text">
            </div>
          </div>
          <div class="field">
            <label class="label">Tipo de dcoumento</label>
            <div class="control">
              <div class="select">
                <select name="tipoDoc">
                  <option>Selecciona tipo de documento</option>
                  <option value="ACTA DE ENTREGA">ACTA DE ENTREGA</option>
                  <option value="ACTA DE DEVOLUCION">ACTA DE DEVOLUCION</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="button is-link" type="submit">Imprimir</button>
  </form>

</div>

<% include partials/_footer %>